body{
    background-color:lightgrey;
    margin: 0px 80px 0px 80px;
}
nav{
    margin: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    outline: solid 1px darkgray;
    background-color: white; 
}
.main{
    height: 600px;
    width: 800px;
    margin: 10px;
    display: flex;
    float: left;
    flex-direction: column;
    background-color: grey;
}
.sidebar{
    width: 325px;
    height: auto;
    float: right;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-items: center;
    outline: solid 1px darkgray;
    background-color: white;
}
.comments{
    position: relative; 
    display: flex;
    float: left;
    margin: 10px;
    width: 800px;
    height: auto;
    background-color: white;
    justify-content: center;
}
.images{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.description{
    position: relative;
    display:flex;
    align-self: flex-end;
    justify-content: left;
}
.video{
    position: relative;

}
#user-image{
    float: left;
    display: inline;
}
.video-buttons{
    margin: 5px;
    float: right;
    align-items: center;
    position: relative;   
    left:79%;
    bottom: 8%;
    /*
    top: 435px;
    right: 455px;
    */
}

.navItems{
    margin: 40px;
    
}

